*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {

    /* Primary colors */

    --orange: hsl(25, 97%, 53%);
    

    /* Neutral colors */

    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsl(217, 10%, 22%);
    --darkBlue: hsl(213, 19%, 18%);
    --veryDarkBlue: hsl(216, 12%, 8%);
   

    /* Fonts */

    --first-font: 'Overpass', sans-serif;
    

}

html{
    overflow-x: hidden;
}


body{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--veryDarkBlue);
    overflow-x: hidden;
   
}

#ratingCard , #thankYou{
    width: 420px;
    max-width: 1080px;
    background-color: var(--darkBlue);
    border-radius: 30px;
    overflow: hidden;
    padding-bottom: 35px;
    }

  
   
    #icon {
        margin: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cardText{
        margin: 30px;
    }
    .cardText h1{
        margin-bottom: 10px;
        color: var(--white);
        font-family: var(--first-font);
        font-weight: 700;
    }
    .cardText p {
        margin-bottom: 15px;
        font-family: var(--first-font);
        font-weight: 400;
        color: var(--lightGrey);
    }


    .btn-group{
        width: 100%;
        display: block;
        text-align: center;
        margin-left: 10px;
        margin-bottom: 30px;
       
        

    }
    .ratingB{
        display: -ms-inline-grid;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: var(--mediumGrey);
        border: none;
        font-size: 17px;
        color: var(--lightGrey);
        margin-right: 20px;
        transition: 200ms ease-in-out;
       
    }
    .ratingB:hover{
        color: var(--white);
        background-color: var(--orange);
        cursor: pointer;
        
    }
    .ratingB:active{
        color: var(--white);
        background-color: var(--lightGrey);
    
       
    }
   
   

    .rounded  {
        display: inline-block;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: var(--mediumGrey);
        margin-right: 10px;
    }


    .submit {
        height: 3rem;
        width: 85%;
        padding: 5px;
        margin: auto;
        outline: none;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        font-size: 15px;
        letter-spacing: 2px;
        text-transform:uppercase;
        font-family: var(--first-font);
        color: var(--white);
        font-weight: 400;
        border: none;
        border-radius: 2em;
        background: var(--orange);
        overflow: hidden;
        transition: transform 400ms;
      }
      .submit:hover{
          color: var(--orange);
          background-color: var(--white);
          cursor: pointer;
          transition: 200ms ease-in-out;
      }

      #thanksImage{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px auto;
          
      }
      #selectedRating{
          margin: auto;
          padding: 10px 20px 5px 20px;
          border-radius: 20px;
          width: max-content;
          text-align: center;
          color: var(--orange);
          font-family: var(--first-font);
          background-color: var(--mediumGrey);
          font-weight: lighter;
          margin-bottom: 40px;
      }
      .thankYouText{
          text-align: center;
          margin: 20px;
          padding: 10px;
          font-family: var(--first-font);
          color: var(--lightGrey);
          line-height: 1.5;
          
          
      }
      .thankYouText h2 {
          font-size: 30px;
          margin-bottom: 20px;
          color: var(--white);
        
      }

      .hide{
          display: none;
      }


      

.attribution{
    position: absolute;
    bottom: 0px;
}

